* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.botao-adicionar {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-adicionar:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.tarefa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.tarefa-item.concluida {
    background-color: #d4edda; /* Cor de fundo verde claro */
}

.tarefa-item span {
    font-size: 16px;
}

.tarefa-item.concluida .tarefa-nome {
    color: green;
    text-decoration: line-through;
}

.botoes button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-detalhes {
    background-color: #17a2b8;
    color: white;
}

.botao-concluir {
    background-color: #28a745;
    color: white;
}

.botao-remover {
    background-color: #dc3545;
    color: white;
}

.botoes button:hover {
    opacity: 0.9;
}
